@import "../../../assets/styleColors.scss";

#root {
    // margin: 0 auto;
    
    .card {
        background-color: $white;
        border: 1px solid black;
        width: 50%;
        height: 50vh;
        margin: 0 auto;
        .row {
            display: flex;
            margin: 0 auto;
            width: 50%;
        }
    }
}