
    /* Base */
    $black : #000000;
    $white : #FFFFFF;
    $success : #2DE840;
    $error : #E41010;
    $warning : #FF852D;
    $disabled : #989898;
    
    /* Primary */
    $primary-lighter : #D0D0E3;
    $primary-light : #A2A1C7;
    $primary :  #7372AB;
    $primary-dark : #45438F;
    $primary-darker : #171573;
    
    /* Secondary */
    $secondary-lighter : #E7D0DA;
    $secondary-light : #D0A1B5;
    $secondary : #B97290;
    $secondary-dark : #A2436B;
    $secondary-darker : #8B1447;
