@import url('https://fonts.cdnfonts.com/css/exo-4');
@import url('https://fonts.cdnfonts.com/css/poppins');

$exo :'Exo', sans-serif;
$poppins : 'Poppins', sans-serif;

.title {
    @mixin title {
        font-family: $exo;
    }
}

body {
    font-family: $poppins;
}

.title1 {
    @mixin title1($font-size : 40px, $font-weight : bold){
        font-size: $font-size;
        font-weight: $font-weight;
    }
}

.title2 {
    @mixin title2($font-size : 36px, $font-weight : 600){
        font-size: $font-size;
        font-weight: $font-weight;
    }
}

.title3 {
    @mixin title3($font-size : 32px, $font-weight : 400){
        font-size: $font-size;
        font-weight: $font-weight;
    }
}

.paragraph {
    @mixin paragraph($font-size : 2Opx, $font-weight : 400){
        font-size: $font-size;
        font-weight: $font-weight;
    }
}

.label {
    @mixin label($font-size : 16px, $font-weight : 600){
        font-size: $font-size;
        font-weight: $font-weight;
    }
}

.textButton {
    @mixin textButton($font-size : 16px, $font-weight : bold){
        font-size: $font-size;
        font-weight: $font-weight;
    }
}


.link {
    @mixin link($color : $secondary-darker, $font-size : 16px){
        text-decoration: none;
        color: $color;
        font-size: $font-size;
    }
}
